{% extends "basic.html" %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %} Главная старница {% endblock %}
</head>
<body>
{% block content %}
<div class="center">
    <h1 class="text_center">Каталог заявок</h1>
        <p class="text_bot">здесь показываются ваши заявки, которые мы выполнили.</p>
        <p class="text_bot">Количество заявок,в статусе "Принято в работу</p>
</div>
{% endblock %}



{% block footer %}
    <div class="footer">
        <div class="footer_blocks">
            <div class="links_quick">
                <p class="text_links">Ссылки на нас</p>
                <a href="#">о нас</a>
                <a href="#"></a>
            </div>
            <div class="about">
                <p class="text_top_about">О нас</p>
                <p class="text_bot_about"> Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                    Вдали свой дорогу он
                    вопроса великий! Пор, имеет однажды там имени вскоре журчит силуэт осталось свое предупредила, до, великий
                    вопрос!</p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
{% extends "basic.html" %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %} Главная старница {% endblock %}
</head>
<body>
{% block content %}
<div class="center">
    <h1 class="text_center">Каталог заявок</h1>
        <p class="text_bot">здесь показываются ваши заявки, которые мы выполнили.</p>
        <p class="text_bot">Количество заявок,в статусе "Принято в работу</p>
</div>
{% endblock %}



{% block footer %}
    <div class="footer">
        <div class="footer_blocks">
            <div class="links_quick">
                <p class="text_links">Ссылки на нас</p>
                <a href="#">о нас</a>
                <a href="#"></a>
            </div>
            <div class="about">
                <p class="text_top_about">О нас</p>
                <p class="text_bot_about"> Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                    Вдали свой дорогу он
                    вопроса великий! Пор, имеет однажды там имени вскоре журчит силуэт осталось свое предупредила, до, великий
                    вопрос!</p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>